@import '~bootstrap/scss/bootstrap';

body {
  color: black;
}


.red {
  color: red !important;
}

.title {
  color: black;
  font-weight: bold;
  padding: 10px 0;
}
h3 {
  color: gray;
  margin-bottom: 35px;
}
.text-danger {
  color: red;
}

.posts-list li {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  align-items: center;
}
